<td width="581px">
  <div style="text-indent:2em">
    <br>
    <p><span style="font-size:16px;line-height:30px">FREE STANDING SAFE SERIES</span></p>       
    <p><span style="font-size:14px;line-height:25px">* Solid steel construction,anti-pry door,multi strong bolts</span></p>
    <p><span style="font-size:14px;line-height:25px">* Thickness:3mm/body,12mm/door</span></p>
    <p><span style="font-size:14px;line-height:25px">* Hi-scurity ball hearing exterior hinges,chrome plated handle</span></p>
    <p><span style="font-size:14px;line-height:25px">* Time Delay Digital/UL listed combination lock available</span></p>
    <p><span style="font-size:14px;line-height:25px">* Anti-drill hard steel plate equipped</span></p>
    <p><span style="font-size:14px;line-height:25px">* Rust-powder surface with powder coating finished</span></p>
    <p><span style="font-size:14px;line-height:25px">* stainless steel decoration plate</span></p>
    <p><span style="font-size:14px;line-height:25px">* Removable shelf equipped</span></p>
    <p><span style="font-size:14px;line-height:25px">* Predrilled bottom anchor holes</span></p>
    <br>
  </div>
</td>