<td width="581px">
  <div style="text-indent:2em">
    <br>
    <p><span style="font-size:16px;line-height:30px">Depository Locker</span></p>
    <p><span style="font-size:14px;line-height:25px">* Solid steel structure,multiple bolts.Thickness：3mm/body,10mm/door</span></p>
    <p><span style="font-size:14px;line-height:25px">* Dual heads key lock equipped</span></p>
    <p><span style="font-size:14px;line-height:25px">* Inner box for each door.</span></p>
    <p><span style="font-size:14px;line-height:25px">* Suitable for hotel lobby, bank.</span></p>
    <br>
  </div>
</td>