<td width="581px">
  <div style="text-indent:2em">
    <br>
    <p><span style="font-size:14px;line-height:30px">FBS SERIES FIRE AND BURGARY PROOF SAFE</span></p>
    <p><span style="font-size:14px;line-height:25px">* Fire-burglary proof composite safe.</span></p>
    <p><span style="font-size:14px;line-height:25px">* B rated door construction with fire resistance function.</span></p>
    <p><span style="font-size:14px;line-height:25px">* 1700F 1 hour fire proof rated.</span></p>
    <p><span style="font-size:14px;line-height:25px">* Door: fully insulated by special fireproof materials. thickness 5mm+3mm+2mm + 55mm fire wall.</span></p>
    <p><span style="font-size:14px;line-height:25px">* Body: fully insulated by special fireproof materials. thickness 3mm+3mm+68mm fire wall.</span></p>
    <p><span style="font-size:14px;line-height:25px">* Anti-drill hard plate behind the lock provide high security for the lock.</span></p>
    <p><span style="font-size:14px;line-height:25px">* Glass-activating relocking device as 1st relocker.</span></p>
    <p><span style="font-size:14px;line-height:25px">* Spring loaded relocking device as relocker.</span></p>
    <p><span style="font-size:14px;line-height:25px">* Special designed massive 30mm interlocking bolts to superior door security.</span></p>
    <p><span style="font-size:14px;line-height:25px">* Fire-activating expanding fire seal gives extra protection in case of fire attack.</span></p>
    <p><span style="font-size:14px;line-height:25px">* Pre-drill 1*20mm bottom anchor hole.</span></p>
    <p><span style="font-size:14px;line-height:25px">* Massive high security exterior ball bearing hinges.</span></p>
    <p><span style="font-size:14px;line-height:25px">* Elegant chrome plated 3 spoke handle.</span></p>
    <p><span style="font-size:14px;line-height:25px">* Stainless steel decoration plate.</span></p>
    <p><span style="font-size:14px;line-height:25px">* UL (File NO.BP9717)listed La gard Combination lock available</span></p>
    <p><span style="font-size:14px;line-height:25px">* Special designed time delay digital lock( for option)</span></p>
    <br>
  </div>
</td>