<td width="581px">
  <div style="text-indent:2em">
    <br>
    <p><span style="font-size:14px;line-height:25px">* Solid steel structure,multiple bolts.</span></p>
    <p><span style="font-size:14px;line-height:25px">* Code setting:1-10digits</span></p>
    <p><span style="font-size:14px;line-height:25px">* Alarm 1 min in case of 3 times wrong try.</span></p>
    <p><span style="font-size:14px;line-height:25px">* Opening method: key + code.</span></p>
    <p><span style="font-size:14px;line-height:25px">* Code hiding function</span></p>
    <p><span style="font-size:14px;line-height:25px">* Rust-proof surface with quality powder coating finish,various colors available</span></p>
    <p><span style="font-size:14px;line-height:25px">* Override emergency key equipped</span></p>
    <p><span style="font-size:14px;line-height:25px">* Outer battery box provide.</span></p>
    <p><span style="font-size:14px;line-height:25px">* Suitable for personal,home use</span></p>
    <br>
  </div>
</td>