<td width="581px">
  <div style="text-indent:2em">
    <br>
    <p><span style="font-size:16px;line-height:30px">HOTEL SAFE SERIES</span></p>
    <p><span style="font-size:14px;line-height:25px">* Solid steel structure,multiple bolts.</span></p>
    <p><span style="font-size:14px;line-height:25px">* Code setting:3-6digits</span></p>
    <p><span style="font-size:14px;line-height:25px">* Hold 15min in case of 3times wrong try.</span></p>
    <p><span style="font-size:14px;line-height:25px">* Motorized opening/locking</span></p>
    <p><span style="font-size:14px;line-height:25px">* Code hiding function</span></p>
    <p><span style="font-size:14px;line-height:25px">* Rust-proof surface with quality powder coating finish,various colors available</span></p>
    <p><span style="font-size:14px;line-height:25px">* Override emergency key/master code equipped</span></p>
    <p><span style="font-size:14px;line-height:25px">* Outer battery box provide.</span></p>
    <p><span style="font-size:14px;line-height:25px">* Suitable for hotel,personal,home use</span></p>
    <p><span style="font-size:14px;line-height:25px">* Audit trail system,can read 120 pieces of opening records via U-disk(for option)</span></p>
    <br>
  </div>
</td>