<td width="581px">
  <div style="text-indent:2em">
    <br>
    <p><span style="font-size:16px;line-height:30px">IN FLOOR SAFE SERIES</span></p>
    <p><span style="font-size:14px;line-height:25px">* Constrution with solid steel door (12mm)& body(4mm)</span></p>
    <p><span style="font-size:14px;line-height:25px">* Solid steel dead bar prevents door removal during burglary attack</span></p>
    <p><span style="font-size:14px;line-height:25px">* 6mm Anti-drill steel plate behind the lock</span></p>
    <p><span style="font-size:14px;line-height:25px">* Spring loaded relocking device.</span></p>
    <p><span style="font-size:14px;line-height:25px">* Massive exterior vault hinges.</span></p>
    <p><span style="font-size:14px;line-height:25px">* Time delay Digital lock/UL Listed Combination lock availabe</span></p>
    <p><span style="font-size:14px;line-height:25px">* Special design of lift-off gas spring for convenient opening</span></p>
    <p><span style="font-size:14px;line-height:25px">* 6mm top cover</span></p>
    <p><span style="font-size:14px;line-height:25px">* Chrome plated "T" handle</span></p>
    <p><span style="font-size:14px;line-height:25px">* Stainless steel decoration plate</span></p>
    <p><span style="font-size:14px;line-height:25px">* Scratch proof powder coating finished</span></p>  
    <br>
  </div>
</td>