<td width="581px">
  <div style="text-indent:2em">
    <br>
    <p><span style="font-size:16px;line-height:30px">ROTARY HOPPER SAFE</span></p>
    <p><span style="font-size:14px;line-height:25px">* Solid steel construction, fully welded body construction(3mm)</span></p>
    <p><span style="font-size:14px;line-height:25px">* Top loading anti-fishing rotary hopper</span></p>
    <p><span style="font-size:14px;line-height:25px">* Anti-pry solid steel door (12mm)</span></p>
    <p><span style="font-size:14px;line-height:25px">* Chrome plated T handles</span></p>
    <p><span style="font-size:14px;line-height:25px">* Bolt detent pins and re-locking device on door</span></p>
    <p><span style="font-size:14px;line-height:25px">* UL Listed Lock One combination lock/time delay digital lock/dual heads key lock</span></p>
    <p><span style="font-size:14px;line-height:25px">* Heavy-duty vault hinges</span></p>
    <p><span style="font-size:14px;line-height:25px">* 19mm Chrome plated bolts</span></p>
    <p><span style="font-size:14px;line-height:25px">* Pre-drilled anchor holes</span></p>
    <p><span style="font-size:14px;line-height:25px">* Quality powder coating finished</span></p>
    <p><span style="font-size:14px;line-height:25px">* Suitable for cashier depository use</span></p>
    <br>
  </div>
</td>