<td width="581px">
  <div style="text-indent:2em">
    <br>
    <p><span style="font-size:16px;line-height:30px">UNDER COUNTER DEPOSITORY SAFE SERIES</span></p>
    <p><span style="font-size:14px;line-height:25px">* Solid steel construction,Thickness:3mm body,12mm door</span></p>
    <p><span style="font-size:14px;line-height:25px">* Standard slot(15mm height) with anti-fishing baffle</span></p>
    <p><span style="font-size:14px;line-height:25px">* UL listed La Gard combination lock/dual heads key lock</span></p>
    <p><span style="font-size:14px;line-height:25px">* Botton side piano hinge</span></p>
    <p><span style="font-size:14px;line-height:25px">* Rust-proof surface with quality powder coating finishied,various colors available.</span></p>
    <p><span style="font-size:14px;line-height:25px">* Suitable for cashier of restaurant,stores</span></p>
    <br>
  </div>
</td>