<td width="581px">
  <div style="text-indent:2em">
    <br>
    <p><span style="font-size:16px;line-height:30px">VAULT DOOR SERIES</span></p>
    <p><span style="font-size:14px;line-height:25px">* Solid steel construction.</span></p>
    <p><span style="font-size:14px;line-height:25px">* 1700F 1 hour fire proof rated (for FVD Series)</span></p>
    <p><span style="font-size:14px;line-height:25px">* Anti-drill hard plate behind the lock</span></p>
    <p><span style="font-size:14px;line-height:25px">* Glass-activating relocking device as 1st relocker.</span></p>
    <p><span style="font-size:14px;line-height:25px">* Spring loaded relocking device as 2nd relocker.</span></p>
    <p><span style="font-size:14px;line-height:25px">* Massive strong exterior hinges</span></p>
    <p><span style="font-size:14px;line-height:25px">* UL (File NO.BP9717) listed La Gard combination lock</span></p>
    <p><span style="font-size:14px;line-height:25px">* Double bits key lock available</span></p>
    <p><span style="font-size:14px;line-height:25px">* Time delay digital lock for option</span></p>
    <p><span style="font-size:14px;line-height:25px">* 3 spoke handle.</span></p>
    <p><span style="font-size:14px;line-height:25px">* 3 way multiple strong 30mm bolts work with super smoothly mechanism.</span></p>
    <p><span style="font-size:14px;line-height:25px">* Hardened flange.</span></p>
    <br>
  </div>
</td>