@charset "utf-8";
html {background:white;color:black;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {margin:0;padding:0;}
body,button,input,select,textarea {font:12px "微软雅黑","宋体",arial,sans-serif;}
input,select,textarea {font-size:100%;}
table {border-collapse:collapse;border-spacing:0;}
th {text-align:inherit;}
fieldset,img {border:none;}
iframe {display:block;}
abbr,acronym {border:none;font-variant:normal;}
del {text-decoration:line-through;}
address,caption,cite,code,dfn,em,th,var {font-style:normal;font-weight:500;}
ol,ul {list-style:none;}
caption,th {text-align:left;}
h1,h2,h3,h4,h5,h6 {font-size:100%;font-weight:500;}
q:before,q:after {content:'';}
sub,sup {font-size:75%;line-height:0;position:relative;vertical-align:baseline;}
sup {top:-0.5em;}
sub {bottom:-0.25em;}
a:hover {text-decoration:underline;}
ins,a {text-decoration:none;}
a:focus,*:focus {outline:none;}
.clearfix:before,.clearfix:after {content:"";display:table;}
.clearfix:after {clear:both;overflow:hidden;}
.clearfix {zoom:1; /* for ie6 & ie7 */}
.clear {clear:both;display:block;font-size:0;height:0;line-height:0;overflow:hidden;}
.hide {display:none;}
.block {display:block;}
.fl,.fr {display:inline;}
.fl {float:left;}
.fr {float:right;}
.mb10{margin-bottom:10px;}
.h50{height:50px;}

/* 网站公共部分 */
.header,.content{width: 100%;margin: 0px auto;overflow:hidden;}
.header {overflow:visible;}
.header .top,.header .box,.header .menu{width: 100%;color: #fff;position: relative;}
.header .top{height: 22px;background: url("../images/assets/topbg.png") repeat-x;}
.header .box{height: 105px;}
.header .menu{height: 45px;background: url("../images/assets/menu_bg.jpg") repeat-x;line-height:45px;position:relative;}

.header .top .link{position: absolute;right: 0;top: 0px;line-height: 22px;width: auto;}
.header .top .link a{color: #fff;}
.header .box .logo,.header .box .tel,.header .box .lo1688,.header .box .searcher,.header .box .qq1,.header .box .qq2{position: absolute;width: auto;}
.header .box .logo{top: 15px;left: 0;}

.header .box .searcher input{margin:1px 2px;padding:0;border:none;width:143px;height:24px;line-height:24px;border-radius:5px;float:left;}
.header .box .searcher .submit-btn{width: 40px;height: 26px;cursor:pointer;float:right;background: none;}

.header .menu ul{margin:auto;position:relative;text-align: center;height: 100%;line-height:45px;max-width:980px;}
.header .menu ul li{display:block;float:left;overflow:hidden;width:117px;height:45px;font-size:15px;font-family: "微软雅黑","宋体";line-height:45px;text-align:center;color:#fff;}
.header .menu ul li a{color:#fff;text-decoration: none;}
.header .menu ul li.sep{width:1px;height:45px;background:url("../images/assets/menu_sep.gif") no-repeat center center;}
.header .menu ul li:hover {background:url("../images/assets/menu_hover.jpg") no-repeat;color:#074D96;}
.header .menu ul li:hover a {color:#074D96;}

.header .menu ul li:hover dl {position:absolute;z-index:1000;}
.header .menu ul li:hover dt {width:230px;border: 1px #DAECFD solid;background-color: #fff;border-top: 0px;color:#666;text-align: left;padding-left:5px;}
.header .menu ul li:hover dt a{color:#666;}
.header .menu ul li:hover dt a:hover{color:#084E96;}

.footer{width: 100%;height: 65px;background: url("../images/assets/footer_bg.jpg") repeat-x;}
.footer .wrap{width: 960px;height: 65px;margin: 0px auto;position: relative;}
.footer .wrap .block{position:absolute;top: 22px;color: #fff;font-size:14px;line-height: 22px;}
.footer .wrap .block ul{margin-top: 20px;}
.footer .wrap .block a{color: #fff;font-size: 12px;}
.footer .wrap .about{text-align: center;width: 100%;}
.footer .wrap .pro{left:222px;}
.footer .wrap .service{left:398px;}
.footer .wrap .contact{left:635px;}

.wrapper{width: 960px;height: auto;margin:0px auto;position: relative;}

.icons{background: url("../images/assets/icons_v1.png") top;width:15px;display: inline-block;vertical-align:middle;}
.icon-local{background-position: 0 0px;height: 28px;position: absolute;left: 61px;top: -2px;}
.icon-home{background-position: 0 -28px;height: 14px;}
.icon-tel{background-position: 0 -49px;height: 13px;}
.icon-fax{background-position: 0 -69px;height: 12px;}
.icon-email{background-position: 0 -88px;height: 12px;}
.slidesjs-slide img{
    width:100%;
    min-width:960px;
}
.banner {margin: 0 auto}
.slidesjs-pagination{width:100%;height: 34px;background: url("../images/assets/banner_btn_bg.png") repeat-x;text-align: center;}
.slidesjs-pagination .slidesjs-pagination-item{display: inline-block;}
.slidesjs-pagination li a {display: block;width:12px;height: 12px;background: url("../images/assets/pagination.png") 0 0 no-repeat;margin: 9px 5px;text-indent:13px;overflow:hidden;}
.slidesjs-pagination li a.active,.slidesjs-pagination li a:hover.active {background-position: 0 -13px}

.notice{width:100%;height:33px;line-height:30px;text-align: left;border-bottom: 1px #C8C8C8 solid;font-size: 14px;}
.notice a{color: #575757;}
.notice .icon{display: inline-block;width: 24px;height: 22px;background: url("../images/assets/info.gif") no-repeat;vertical-align: middle;}
.pronav{margin:0px auto;width: 1000px;height: 199px;padding:70px 0 40px 0;}
.pronav a{margin:0 8px;display: block;width: auto;float: left;text-align:center;font-size:16px;color:#064C96;vertical-align:bottom;font-weight:bold;overflow:hidden;width:184px;height:200px;line-height:40px;text-decoration:none;}

.banner {text-align: center;width: 100%;overflow: hidden;}
.location {display: block;position:relative;height:52px;width:auto;margin-left:10px;line-height: 52px;text-align:left;font-size:14px;background:url("../images/assets/3.gif") left center no-repeat;text-indent:10px;color:#858585;}
.location .cur{color:#064C96}
.location a{position:absolute;display:block;height:30px;line-height:30px;color:#FFF;top:0;right:0;width:182px;margin:11px 0;background:#074D96;text-align:center;}
.rows {border:1px #CCCCCC solid;display:block;width:100%;}
.rows .container{width:885px;height:auto;min-height:222px;margin:0 auto;display:table;}
.rows .container .attr{float:left;display:block;width:290px;height:62px;text-indent:65px;line-height:62px;color:#666666;margin: 10px 0;font-size:14px;}
.rows .left{width: 247px;float: left;}
.rows .left .block{width: 100%;height: auto;}
.rows .left .block h1 {width: 100%;height:35px;line-height:35px;background:url("../images/assets/left_title_bg.jpg") no-repeat;color: #fff;text-align: center;font-weight: bold;font-size: 14px;}
.rows .left .block ul{width: 99%;height: auto;border: 1px #ccc solid;line-height:41px;border-top:none;padding-bottom:40px;}
.rows .left .block ul li{}
.rows .left .block ul li a{color:#666666;font-size: 14px;text-decoration: none; display:block;background: url("../images/assets/left_sep_line.jpg") center bottom no-repeat;padding-left:30px;}
.rows .left .block ul li a:hover,.rows .left .block ul li a.active {color:#074D96;font-weight:bold;}
.rows .left .block span{display:block;}
.rows .left .block ul.nav_tree_two ,.rows .left .block ul.nav_tree_three{border:none;padding:0;}
.rows .left .block ul.nav_tree_one a{padding-left:18px;}
.rows .left .block ul.nav_tree_one li ul.nav_tree_two li a{font-size:10px;padding-left:30px;}
.rows .left .block ul.nav_tree_one li ul.nav_tree_two li ul.nav_tree_three li a{padding-left:102px;}
ul.nav_tree_one span{/*padding-left:20px;*/background-position:5px center;background-repeat:no-repeat;}

.rows .right{width:702px;float: right;}
.rows .right h1.title{width:100%;height:35px;line-height:35px;background:url("../images/assets/right_title_bg.jpg") no-repeat;color: #fff;text-indent:40px;font-size:14px;font-weight:bold;}
.rows .right .con{width:640px;padding:30px;height:auto;min-height:530px;border: 1px #ccc solid;border-top:none;}

/* 列表页 */
.rows .right .con,.rows .right .con a{color:#333333}
.rows .right .con .list,.rows .right .con .prolist{line-height:30px;}
.rows .right .con .list li{width: 100%;}
.rows .right .con .list li.first{border-bottom: 1px #666 dashed;display: table;padding-bottom: 35px;margin-bottom:30px;position:relative;}
.rows .right .con .list li.first img{padding:2px;border:1px #ccc solid;float:left;margin-right:5px;}
.rows .right .con .list li.first a.more{position:absolute;bottom:38px;left:310px;color:#084E96;font-weight:bold;}
.rows .right .con .list li span.tit{float: left;width:585px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.rows .right .con .list li span.time{float: right;width:auto;}

/* 产品列表页 */
.rows .right .con .prolist dl{float:left;width:213px;height:auto;text-align:center;margin: 0 0px 10px 0px;}
.rows .right .con .prolist dl dt{width:100%;height:197px;background: url("../images/assets/pro-item-bg.png") no-repeat;}
.rows .right .con .prolist dl dt img{margin-bottom:18px;margin-top:10px;}

/* 内容页 */
.rows .right .con .con-title {width:100%;margin:0 auto 30px auto;padding-bottom:10px;line-height:22px;border-bottom: 1px #666 dashed;text-align:center;color:#999999;}
.rows .right .con .con-title b{font-size:14px;color:#000;}
.rows .right .con .con-html {line-height: 24px;width:100%;height:auto;}
.rows .right .con .con-html p{text-indent:2em;font-size:14px;}
.rows .right .con .con-html strong{color:#F00;font-size:18px;display:block;padding:8px 0;}

/* 产品内容页 */
.rows .pic-big-area {float:left;width:726px;height:auto;text-align: center;}
.rows .pic-big-area h1 {width:100%;height:52px;line-height:52px;background: #074D96;color: #fff;font-size: 18px;}
.rows .pic-big-area .picbox {width:724px;height:472px;border: 1px #ccc solid;border-top:none;overflow: hidden;}
.rows .pic-big-area .picbox #bigpic{margin:50px 0 0 0;display:inline-block;}
.rows .pic-small-area {float:right;width:182px;height:525px;position:relative;}
.rows .pic-small-area #btn-pic-prev {position:absolute;top:0px;}
.rows .pic-small-area #btn-pic-next {position:absolute;bottom:0px;}
.rows .pic-small-area .list {width:100%;height:413px;margin-top:55px;overflow:hidden;position:relative;}
.rows .pic-small-area .list ul{position:absolute;left:0px;top:0px;}
.rows .pic-small-area .cur{position:absolute;left:-13px;top:105px;}
.rows .pic-small-area li{margin:5px 0px;}


/* 产品内容页 - 产品介绍 */
.rows .proinfo,.rows .related {width:962px;height:230px;overflow:hidden;}
.rows .proinfo .tabs {float:left;width:44px;height:auto;}
.rows .proinfo .info {display:none;width:960px;height:278px;border: 1px #ccc solid;border-left:none;color:#666;}
.rows .proinfo .info .con{margin: 10px 10px 10px 55px;display:table;}
.rows .proinfo .active {display:block;}
.rows .proinfo .tabs .tabs-btn {display: inline-block;width:15px;height:110px;font-size:15px;padding:30px 15px 0 15px;background:url("../images/assets/tabs_bg.png") -55px 0 no-repeat;color:#000;text-decoration:none;}
.rows .proinfo .tabs .tabs-btn-on{background-position: 0px 0;color:#fff;}
.rows .proinfo a,.rows .related a{color:#666;}

/* 产品内容页 - 相关产品 */
.rows .related .title {float: left;display: inline-block;width:15px;height:155px;font-size:15px;padding:75px 15px 0 15px;background: #084E96;color:#fff;text-decoration:none;}
.rows .related .info{width:916px;height:228px;/*border: 1px #ccc solid;border-left:none;*/overflow:hidden;color:#666;}
.rows .related .info .list{width: 895px;}
.rows .related .info .list dl{float: left;margin: 23px 20px;text-align:center;line-height: 45px;}
.rows .related .info .f{display:table;width:95%;margin:0px auto;overflow:hidden;}

.rows .right .con .pager {display: inline-block; width: 100%; padding: 10px 0px;}
.rows .right .con .pager a,
.rows .right .con .pager span.current{width:auto;height:26px;background-color:#084E96;color:#fff;padding: 3px 10px;margin:0 2px;text-decoration:none;}
.rows .right .con .pager span.current{background-color:#ccc;}


.debug{border:1px red solid}

.rows .attribute_left{
    width:663px;
	border-right:thin solid #ccc;
    float:left;
}
.rows .attribute_right{
    width:296px;
    float:right;
    /*border-left:thin solid #ccc;*/
    height:100%;
}
.rows .attribute_left li{
    float:left;
	line-height: 20px;
    border-right:thin solid #ccc;
    border-bottom:thin solid#ccc;
    width:163px;
    height:41px;
    padding:5px 5px 5px 52px;
    color: #666;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}
.rows .attribute_right p,.rows .attribute_right span,.rows .attribute_right strong,.rows .attribute_right h1,.rows .attribute_right h2{
    font-size: 14px;
    line-height: 18px;
    color: #666;
    font-family: "Microsoft Yahei";
    /*text-indent:2em;*/
}
.rows .attribute_right .p_padding{
    padding:5px;
    min-height:146px;
}