---
layout: pages
category: news
type: news
permalink: /news/
title: News
---
{% include nav-news.html %}
<div class="right">
  <h1 class="title">{{ page.title }}</h1>
  <div class="con clearfix">
    <ul class="list">{% for post in site.categories["news"] %}
      <li class="first" style="line-height: 25px;">
        <img src="{{ site.url }}/images/news/{{ post.image }}.jpg" alt="{{ post.title }}">
        <p>
          <h1 style="font-weight:bold">{{ post.title }}</h1>
          {{ post.description }}
          <a href="{{ site.url }}{{ post.url }}" class="more">More>></a>
        </p>
      </li>{% endfor %}
    </ul>
  </div>
</div>