---
layout: pages
---
<script language="javascript" type="text/javascript">
            $(document).ready(function() {
                //$(".nav_tree_one li").children("ul").hide();
                //$(".nav_tree_one ul li").children("ul").hide();
                $(".nav_tree_one").find("li").not(":has(ul)").children("a").css({})
                        .click(function() {
                            $(this).get(0).location.href = "'" + $(this).attr("href") + "'";
                        });
                $(".nav_tree_one").find("li:has(ul)").children("a").css({})
                        .click(function() {
                            if ($(this).next("ul").is(":hidden")) {
                                $(this).next("ul").slideDown("slow");
                                if ($(this).parent("li").siblings("li").children("ul").is(":visible")) {
                                    $(this).parent("li").siblings("li").find("ul").slideUp("1000");
                                    $(this).parent("li").siblings("li:has(ul)").children("a").css({})
                                            .end().find("li:has(ul)").children("a").css({});
                                }
                                $(this).css({});
                                return false;
                            } else {
                                $(this).next("ul").slideUp("normal");
                                //不用toggle()的原因是为了在收缩菜单的时候同时也将该菜单的下级菜单以后的所有元素都隐藏
                                $(this).css({});
                                $(this).next("ul").children("li").find("ul").fadeOut("normal");
                                $(this).next("ul").find("li:has(ul)").children("a").css({});
                                return false;
                            }

                        });

            });
        </script>
<div class="left">
  <div class="block">
    <h1>PRODUCTS</h1>
    <ul class="nav_tree_one">
      <li>
        <a class="{% if page.type == 'fire-and-burglary-safe' %}active{% endif %}" href="{{ site.url }}/fire-and-burglary-safe/">+ FIRE AND BURGLARY SAFE</a>
        <ul class="nav_tree_two" style='display:{% if page.type == 'fbs-series' or page.type == 'lbs-series' %}block{% else %}none{% endif %};'>
          <li><a class="{% if page.type == 'fbs-series' %}active{% endif %}" href="{{ site.url }}/fbs-series/">FBS SERIES</a></li>
          <li><a class="{% if page.type == 'lbs-series' %}active{% endif %}" href="{{ site.url }}/lbs-series/">LBS SERIES</a></li>
        </ul>
      </li>
      <li><a class="{% if page.type == 'fire-and-burglary-gun-safe' %}active{% endif %}" href="{{ site.url }}/fire-and-burglary-gun-safe/">FIRE AND BURGLARY GUN SAFE</a></li>
      <li>
        <a class="{% if page.type == 'commercial-safe' %}active{% endif %}" href="{{ site.url }}/commercial-safe/">+ COMMERCIAL SAFE</a>
        <ul class="nav_tree_two" style='display:{% if page.type == 'front-loading-hopper-safe' or page.type == 'rotary-hopper-safe' or page.type == 'under-counter-deposit-safe' %}block{% else %}none{% endif %};'>
          <li><a class="{% if page.type == 'front-loading-hopper-safe' %}active{% endif %}" href="{{ site.url }}/front-loading-hopper-safe/">FRONT LOADING HOPPER SAFE</a></li>
          <li><a class="{% if page.type == 'rotary-hopper-safe' %}active{% endif %}" href="{{ site.url }}/rotary-hopper-safe/">ROTARY HOPPER SAFE</a></li>
          <li><a class="{% if page.type == 'under-counter-deposit-safe' %}active{% endif %}" href="{{ site.url }}/under-counter-deposit-safe/">UNDER COUNTER DEPOSIT SAFE</a></li>
        </ul>
      </li>
      <li>
        <a class="{% if page.type == 'home-safe' %}active{% endif %}" href="{{ site.url }}/home-safe/">+ HOME SAFE</a>
        <ul class="nav_tree_two" style='display:{% if page.type == 'bs-series' or page.type == 'sm-series' or page.type == 'tm-series' or page.type == 'at-series' %}block{% else %}none{% endif %};'>
          <li><a class="{% if page.type == 'bs-series' %}active{% endif %}" href="{{ site.url }}/bs-series/">BS SERIES</a></li>
          <li><a class="{% if page.type == 'sm-series' %}active{% endif %}" href="{{ site.url }}/sm-series/">SM SERIES</a></li>
          <li><a class="{% if page.type == 'tm-series' %}active{% endif %}" href="{{ site.url }}/tm-series/">TM SERIES</a></li>
          <li><a class="{% if page.type == 'at-series' %}active{% endif %}" href="{{ site.url }}/at-series/">AT SERIES</a></li>
        </ul>
      </li>
      <li><a class="{% if page.type == 'drawer-safe' %}active{% endif %}" href="{{ site.url }}/drawer-safe/">DRAWER SAFE</a></li>
      <li>
        <a class="{% if page.type == 'hotel-safes' %}active{% endif %}" href="{{ site.url }}/hotel-safes/">+ HOTEL SAFE</a>
        <ul class="nav_tree_two" style='display:{% if page.type == 'hotel-safe' or page.type == 'depository-locker' %}block{% else %}none{% endif %};'>
          <li><a class="{% if page.type == 'hotel-safe' %}active{% endif %}" href="{{ site.url }}/hotel-safe/">HOTEL SAFE</a></li>
          <li><a class="{% if page.type == 'depository-locker' %}active{% endif %}" href="{{ site.url }}/depository-locker/">DEPOSITORY LOCKER</a></li>
        </ul>
      </li>
      <li><a class="{% if page.type == 'wall-safe' %}active{% endif %}" href="{{ site.url }}/wall-safe/">WALL SAFE</a></li>
      <li><a class="{% if page.type == 'in-floor-safe' %}active{% endif %}" href="{{ site.url }}/in-floor-safe/">IN FLOOR SAFE</a></li>
      <li><a class="{% if page.type == 'vault-door' %}active{% endif %}" href="{{ site.url }}/vault-door/">VAULT DOOR</a></li>
      <li><a class="{% if page.type == 'modular-vault-system' %}active{% endif %}" href="{{ site.url }}/modular-vault-system/">MODULAR VAULT SYSTEM</a></li>
    </ul>
  </div>
</div>
<div class="right">
  <h1 class="title">{{ page.title }}</h1>
  <div class="con clearfix">
    {{ content }}
  </div>
</div>